<launch>

  <node pkg="cylinder_detection" type="cylinder_detection" name="cylinder_detection" output="screen">
    launch-prefix="xterm -e gdb --args"
    <param name="base_frame" value="/bubbleRob" />
    <param name="max_range" value="1.8" />
    <param name="n_samples" value="300" />
    <param name="ransac_tolerance" value="0.005" />
    <param name="parse_plane_lower_bound_threshhold" value="20" />
    <param name="parse_plane_upper_bound_threshhold" value="300" />
    <param name="accept_circle_threshhold" value="20" />
    <param name="discretization_precision" value="0.025" />
    <param name="min_num_valid_sections_to_accept_cylinder" value="4" />
    <param name="tolerance_for_plane_concatenation" value="0.005" />
    <param name="maximum_radius" value="1.0" />

    
    <remap from="/cylinder_detection/scans" to="/vrep/depthSensor"/>
  </node>
</launch>
